<div class="" style="break-before: always"></div>
{% if data.attenuationPowerSpecs and data.attenuationPowerSpecs | length > 0 %}
<div class="">
  <div class="section-title" style="padding-bottom: 10px">
    ATTENUATION & POWER SPECIFICATIONS
  </div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th class="td td-head td-center">Frequency (GHz)</th>
          <th class="td td-head td-center">Attenuation (dB)</th>
          <th class="td td-head td-center">Power (W)</th>
        </tr>
      </thead>
      <tbody>
        {% for spec in data.attenuationPowerSpecs %}
        <tr>
          <td class="td td-center">
            {{ spec.frequency if spec.frequency is not none else "N/A" }}
          </td>
          <td class="td td-center">
            {{ spec.attenuation if spec.attenuation is not none else "N/A" }}
          </td>
          <td class="td td-center">
            {{ spec.power if spec.power is not none else "N/A" }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
