{% if data.electricalChars and data.electricalChars | length > 0 %}
<div class="section">
  <div class="section-title">ELECTRICAL CHARACTERISTICS</div>
  <div class="table-container">
    <table class="table">
      <tbody>
        {% for electricalChar in data.electricalChars %} {% set label =
        electricalChar.label | trim %} {% set value = electricalChar.value |
        trim %} {% set normalizedLabel = label | lower | replace(" ", "") %} {%
        if value is not none and value != '' %}
        <tr>
          <td class="td td-center" style="width: 40%; max-width: 40%">
            <b>{{ label }}</b>
          </td>
          <td class="td td-center" style="width: 60%">
            {% if normalizedLabel == 'attenuationformula' and value == 'Not
            Available' %} N/A {% else %} {{ value }} {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
