{% if data.envChars and data.envChars | length > 0 %}
<div class="section" style="padding-bottom: 35px">
    <div class="section-title">ENVIRONMENTAL CHARACTERISTICS</div>
    <div class="table-container">
        <table class="table">
            <tbody>
                {% for envSpec in data.envChars %}
                {% if envSpec.value %}
                <tr>
                    <td class="td td-center" style="width: 40%; max-width: 40%;">
                        <b>{{ envSpec.label }}</b>
                    </td>
                    <td class="td td-center" style="width: 60%;">
                        {{ envSpec.value }}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endif %}