<div style="width:100%; font-family:Arial, sans-serif; font-size:11px;">

<table style="width:100%; border-collapse:collapse; table-layout:fixed;">


<tr>
    <td style="width:60%; border:1px solid #000; padding:8px; font-weight:bold;">
        {{ data.partNumber }}
    </td>
    <td style="width:40%; border:1px solid #000;"></td>
</tr>


<tr>

<td style="border:1px solid #000; padding:0; vertical-align:top;">

    <table style="width:100%; border-collapse:collapse; table-layout:fixed;">

        <tr>
            <td style="width:50%; padding:8px; font-weight:bold; border-right:1px solid #000;">
                Unless Otherwise Specified
            </td>
            <td style="width:50%; padding:8px;"></td>
        </tr>

        <tr>
            <td style="padding:8px; border-right:1px solid #000; border-bottom:1px solid #000; vertical-align:top; line-height:18px;">
                1. Remove All Burrs<br>
                2. Break All Corners & Edges .003 max.<br>
                3. All Surfaces Finished to 63
            </td>

            <td style="padding:8px; border-bottom:1px solid #000; vertical-align:top; line-height:18px;">
                5. All Dimensions are after Plating<br>
                6. Chamfer 1st Thread 45°<br>
                7. Angles =1°
            </td>
        </tr>

        <tr>
            <td colspan="2" style="padding:8px; line-height:18px;">
                4. Diameter On Common Centers Shall Be Concentric within .003 T.I.R
            </td>
        </tr>

    </table>

</td>

<td style="border:1px solid #000; padding:12px; text-align:center; vertical-align:top;">

    <div style="margin-bottom:18px; line-height:18px;">
        Unless Otherwise Specified All Dimensions Are In mm (Inches)
        Tolerances (Decimals)
    </div>

    <div style="display:inline-block; text-align:left; line-height:22px;">
        <div><span style="display:inline-block; width:80px; text-align:right;">.XX</span> ±.01</div>
        <div><span style="display:inline-block; width:80px; text-align:right;">.XXX</span> ±.005</div>
        <div><span style="display:inline-block; width:80px; text-align:right;">.XXXX</span> ±.0005</div>
    </div>

</td>
</tr>


<tr>
<td style="width:60%; border:1px solid #000; padding:0;">
    <table style="width:100%; border-collapse:collapse; table-layout:fixed;">
        <tr>
            <td style="width:50%; padding:8px; border-right:1px solid #000;">
                DRAWN BY : {{ data.drawnBy }}
            </td>
            <td style="width:50%; padding:8px;">
                Dwg No : {{ data.dwgNo }}
            </td>
        </tr>
    </table>
</td>

<!-- RIGHT COLUMN SPLIT WITH VERTICAL LINE -->
<td style="width:40%; border:1px solid #000; padding:0;">
    <table style="width:100%; border-collapse:collapse; table-layout:fixed; height:100%;">
        <tr>
            <td style="width:50%; border-right:1px solid #000;"></td>
            <td style="width:50%;"></td>
        </tr>
    </table>
</td>
</tr>

<tr>
<td style="border:1px solid #000; padding:0;">
    <table style="width:100%; border-collapse:collapse; table-layout:fixed;">
        <tr>
            <td style="width:50%; padding:8px; border-right:1px solid #000;">
                CHECKED BY : {{ data.checkedBy }}
            </td>
            <td style="width:50%; padding:8px;">
                Doc Rel No : B
            </td>
        </tr>
    </table>
</td>

<td style="border:1px solid #000; padding:0;">
    <table style="width:100%; border-collapse:collapse; table-layout:fixed;">
        <tr>
            <td style="width:50%; padding:8px; border-right:1px solid #000;">
                Issue Date
            </td>
            <td style="width:50%; padding:8px;">
                {{ data.issuedDate }}
            </td>
        </tr>
    </table>
</td>
</tr>

<tr>
<td style="border:1px solid #000; padding:0;">
    <table style="width:100%; border-collapse:collapse; table-layout:fixed;">
        <tr>
            <td style="width:50%; padding:8px; border-right:1px solid #000;">
                APPROVED BY : {{ data.approvedBy }}
            </td>
            <td style="width:50%; padding:8px;">
                Doc Ver No. {{ data.versionNo }}
            </td>
        </tr>
    </table>
</td>

<td style="border:1px solid #000; padding:0;">
    <table style="width:100%; border-collapse:collapse; table-layout:fixed;">
        <tr>
            <td style="width:50%; padding:8px; border-right:1px solid #000;">
                Sheet 1 of 1
            </td>
            <td style="width:50%; padding:8px;">
                {{ data.sheetValue }}
            </td>
        </tr>
    </table>
</td>
</tr>

</table>
</div>