<div class="details-box">
  <h1 style="color: #375fbd">NKRF Compliance Statement</h1>

  <div class="table-container" style="margin-bottom: 20px; display: grid">
    <table class="table">
      <tbody>
        <tr>
          <!-- Left label/value -->
          <td class="td td-bold">Enquiry Number</td>
          <td class="td">{{ data.enquiryNumber }}</td>
          <!-- Right label/value -->
          <td class="td td-bold">Date</td>
          <td class="td">{{ data.date }}</td>
        </tr>
        <tr>
          <td class="td td-bold">Customer Name</td>
          <td class="td">{{ data.customerName }}</td>
          <td class="td td-bold">Reference Number</td>
          <td class="td">{{ data.referenceNumber }}</td>
        </tr>
        <tr>
          <td class="td td-bold">Quotation Type</td>
          <td class="td">{{ data.quatationType }}</td>
          <td class="td td-bold">Revision Number</td>
          <td class="td">{{ data.revisionNumber }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
