{% if contractChecklist %}
<div class="section page-break" style="margin-top: 30px;">
  <div class="section-title">
    Contract Review Checklist
  </div>

  <div class="subsection">
    <div class="checklist-item subsectionGap" >
      <p class="subsectionFont"><strong>Have all raw materials been procured per the approved production plan?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.rawMaterialsProcured or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Are all material certifications and compliance documents verified and available?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.certificationsVerified or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Are the materials for this order sourced locally, internationally, or from both locations?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.materialSource or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Is the testing infrastructure fully operational for required quality and performance checks?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.testingInfrastructureOperational or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Are all calibration certificates current and compliant with applicable standards?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.calibrationCertificatesCompliant or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Are all necessary tools, machines, and fixtures available and maintained as per the preventive maintenance schedule?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.toolsAndFixturesAvailable or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Are contingency measures in place for critical equipment failure?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.contingencyMeasuresInPlace or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Tooling kit required to execute this order</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.toolingKitRequired or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Are adequate personnel available for production and quality control activities?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.adequatePersonnelAvailable or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Any requirement that cannot be met and requires formal customer concurrence?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.unmetRequirements or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Are there any statutory or regulatory requirements applicable to this order?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.statutoryRequirements or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Is Customer First Article Inspection (FAI) required?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.customerFAIRequired or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>If FAI is required, please specify conditions</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.faiConditions or 'N/A' }}</p>
    </div>

    <div class="checklist-item subsectionGap">
      <p class="subsectionFont"><strong>Is Third Party Inspection (TPI) required?</strong></p>
      <p style="white-space: pre-line;">{{ contractChecklist.tpiRequired or 'N/A' }}</p>
    </div>
  </div>
</div>
{% endif %}