{% if data.envSpecs and data.envSpecs | length > 0 %}
<div class="section">
  <div class="section-title">ENVIRONMENTAL CHARACTERISTICS</div>
  <div class="table-container">
    <table class="table">
      <tbody>
        {% for envSpec in data.envSpecs %} {% if envSpec.value %}
        <tr>
          <td class="td td-center" style="width: 40%; max-width: 40%">
            <b>{{ envSpec.label }}</b>
          </td>
          <td class="td td-center" style="width: 60%;">
                        {% if envSpec.label == 'Operating Temperature Range' %}
                            {{ envSpec.value | replace(' C', ' Deg C') }}
                        {% else %}
                            {{ envSpec.value }}
                        {% endif %}
          </td>
        </tr>
        {% endif %} {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
