{% set materials_a = data.materials | default([]) | selectattr('valueA') | list %}
{% set materials_b = data.materials | default([]) | selectattr('valueB') | list %}
{% set materials_with_values = (materials_a | length > 0) or (materials_b | length > 0) %}
{% if materials_with_values %}
<div class="section">
  <div class="section-title">MATERIALS</div>
  <div class="table-container">
    <table class="table">
      <thead>
        <tr>
          <td class="td td-head td-center">Part Type</td>
          <td class="td td-head td-center">Material A</td>
          <td class="td td-head td-center">Material B</td>
        </tr>
      </thead>
      <tbody>
        {% for interface in data.materials %}
        {% if interface.valueA or interface.valueB %}
        <tr>
          <td class="td td-center" style="width: 33%; max-width: 40%">
            <b>{{ interface.label }}</b>
          </td>
          <td class="td td-center" style="width: 34%">
            {{ interface.valueA }}
          </td>
          <td class="td td-center" style="width: 34%">
            {{ interface.valueB }}
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endif %}
