{% set non_empty_materials = data.materials | selectattr('value') | list %}
{% if non_empty_materials %}
<div class="section">
    <div class="section-title">MATERIALS</div>
    <div class="table-container">
        <table class="table">
            <tbody>
                {% for material in non_empty_materials %}
                <tr>
                    <td class="td td-center" style="width: 40%; max-width: 40%;">
                        <b>{{ material.label }}</b>
                    </td>
                    <td class="td td-center" style="width: 60%;">
                        {{ material.value }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
