<!DOCTYPE html>
<html>
  <head>
    <!-- Import Noto Sans font from Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: "Noto Sans", "DejaVu Sans", sans-serif;
        font-size: 8px;
        line-height: 1.4;
        margin: 0;
        padding: 0; /* Changed from padding: 10px to remove extra space */
      }

      h1,
      h2 {
        font-size: 10px;
        text-align: center;
        margin-top: 0; /* Changed from 10px to 0 */
        margin-bottom: 5px;
      }

      h2 {
        text-decoration: underline;
      }
      .section {
        margin-bottom: 15px;
      }

      .section-heading {
        text-decoration: underline;
        font-weight: bold;
        margin-bottom: 5px;
      }

      ul,
      ol {
        margin: 5px 0;
        padding-left: 15px;
      }

      li {
        margin-bottom: 3px;
      }

      .sub-points {
        padding-left: 20px;
      }

      .sub-point {
        margin-bottom: 2px;
      }

      table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 10px;
      }

      th,
      td {
        border: 1px solid #23272e;
        padding: 4px 6px;
        text-align: left;
        vertical-align: top;
      }

      th {
        background: #f2f2f2;
        font-weight: bold;
      }

      .content-block {
        margin-bottom: 8px;
      }

      .content-value {
        margin-left: 10px;
        line-height: 1.4;
      }
    </style>
  </head>
<div style="page-break-before: always; margin: 0; padding: 0;">
  <h2 style="margin-top: 0; padding-top: 0;">ANNEXURE</h2>

  <div class="section">
    <div class="section-heading">1. Contact Details</div>
    <div class="content-value">
      1. Please reach out to the salesperson who is helping serve your requirement.<br />
      2. For escalation, you can reach out to Ms. Meenal Nehra Sood
      (<a href="mailto:meenal@nkegroup.com">meenal@nkegroup.com</a>, +91 9845029158).
    </div>
  </div>

  <div class="section">
    <div class="section-heading">2. Payment Details</div>
    <table>
      <tr>
        <td width="20%">Bank Name</td>
        <td width="30%">Indian Bank</td>
        <td width="20%">IFSC Code</td>
        <td width="30%">IDIB000N066</td>
      </tr>
      <tr>
        <td>Bank Account Number</td>
        <td>956490021</td>
        <td>Branch Name</td>
        <td>New Tippasandra, Bangalore</td>
      </tr>
    </table>
  </div>

  <div class="section">
    <div class="section-heading">3. Company Details</div>
    <div class="content-value">
      1. NKRF GST Number: 29AADCN6061C1ZL<br />
      2. Udyog Aadhaar Number: KR03B0018771<br />
      3. NKRF is a woman entrepreneur-led MSME registered with NSIC:
      NSIC/GP/BAN/2015/0017395
    </div>
  </div>

  <div class="section">
    <div class="section-heading">4. Indigenous Content</div>
    <div class="content-value">
      1. NKRF manufactures RF & MW cable assemblies & cable harnesses
      indigenously at its state-of-the-art facilities in Bangalore with a
      local content of >50% for RF Cable Assemblies as Class I supplier.<br />
      2. Connectors, Adaptors, Torque Wrenches, Waveguides etc. are imported
      and the local content is ≥20% and <50% as Class II supplier as per
      Make in India Purchase preference policy.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">5. Cable Assembly Labelling</div>
    <div class="content-value">
      1. As per NKRF Standard, white printing on black label. Refer Cable
      Assembly Drawings attached for more details, where applicable.<br />
      2. In case of special labels required, Customer to share details along
      with PO.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">6. Inspection & Tests</div>
    <div class="content-value">
      1. All Goods manufactured by Seller are subject to Seller's standard
      inspection and quality assurance processes and, if applicable,
      acceptance testing at Seller's facility. Any additional requirements
      mutually agreed by the Parties in writing—including, without
      limitation, Buyer's source inspection or additional testing required
      by Buyer—shall be at Buyer's sole expense. If Buyer requires
      inspection by Buyer or Buyer's representative at Seller's place of
      manufacture, such inspection shall be subject to Seller's prior
      written approval and shall not unreasonably interfere with Seller's
      operations. Seller shall give Buyer at least two (2) business days
      advance notice of availability of Goods for Buyer's inspection. If
      Buyer fails to perform such inspection within three (3) business days
      after said notice is given, or such other period as agreed by Seller,
      Buyer's inspection shall be deemed to have been waived by Buyer.<br />
      2. Our cost does not include offering these items for inspection to
      any government bodies; if required, these will be charged extra and
      quoted separately as 3rd party inspection cost.<br />
      3. Environmental Stress Screening (ESS) Tests – Cost of conducting any
      ESS tests will be charged extra based on approved QTP, if required.<br />
      4. Test Documentation:<br />
      <div class="sub-points">
        a. S Plots of individual cable assemblies will be included with
        dispatch, detailing – VSWR, Insertion Loss, Phase Delay over the
        desired frequency range.<br />
        b. S Plots of individual adaptors can be included with dispatch,
        detailing – VSWR, Insertion Loss over the desired frequency range,
        at an additional cost of
       <span>{{ data.adaptorPriceText }}</span>
      </div>
      5. Certificate of Conformance to be included with dispatch for all
      cable assemblies.
    </div>
  </div>

  <h2>TERMS &amp; CONDITIONS</h2>

  <div class="section">
    <div class="section-heading">1. Definitions</div>
    <div class="content-value">
      As used herein: "Seller" means N.K. RF Products &
      Services Private Limited. "Buyer" means the entity to which Seller's
      Offer is made or the entity purchasing Goods and/or Services from
      Seller. "Goods" means the products, parts, materials, and/or equipment
      included in Seller's Offer and/or Buyer's Order. "Standard Product"
      means fully designed and developed products previously sold by Seller
      to customers. "Services" means services included in Seller's Offer
      and/or Buyer's Order to be performed by Seller. "Offer" means any
      quotation, bid, or proposal for Goods and/or Services made by Seller
      to Buyer. "Order" means a purchase order or similar purchase
      instrument issued by Buyer to Seller for the purchase of Goods and/or
      Services. All references to "Seller's terms and conditions" herein
      include (i) the General Terms and Conditions of Sale set forth herein;
      (ii) Seller's Special Terms and Conditions, to the extent referenced
      in Seller's Offer; and (iii) any other terms and conditions mutually
      agreed by the Parties in writing. Seller and Buyer are sometimes
      referred to individually as a "Party" and jointly as the "Parties".
    </div>
  </div>

  <div class="section">
    <div class="section-heading">2. Order Details</div>
    <div class="content-value">
      a. Order to be released on N.K. RF Products & Services Pvt. Ltd. No.
      2, 2nd Cross, Rustam Bagh, Off Old Airport Road, Bangalore – 560 017.
      Tel: 080-25281840 / 2528 3350, Fax: 080 – 2528 0429<br />
      b. Order Acknowledgement is subject to receipt of the latest drawing,
      specification, and labelling details of the RF cable assembly along
      with Customer Order. Delivery Schedule will be counted from the date
      of receipt of these details.<br />
      c. Prices Offered are based on the MOQ as per our quotation; any
      reduction in quantity will impact the unit price.<br />
     <div class="content-value">
  d. NKRF has used {{ data.conversionRateText }} as the conversion factor. We will absorb any variation in the ±2.5% band. Any variation in excess of that will be to the customer's account.
</div>
      e. HSN Codes used as follows:<br />
      <div class="sub-points">
        i. Cable Assemblies – 85442010<br />
        ii. Connector and Adaptors – 85366990<br />
        iii. Services Only – 998898<br />
        iv. Job Work – 99872<br />
        v. Waveguide components – 85369090
      </div>
      f. Installation, Commissioning and/or Training are not applicable
      unless expressly mentioned in special conditions.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">3. Order Cancellation</div>
    <div class="content-value">
      Seller, at its sole discretion and subject to Seller's written
      authorization, may allow Buyer to cancel all or part of Buyer's Order
      for Standard Products or Services. If authorized, such cancellation is
      subject to Seller's then-current order cancellation policy and any
      restocking charges. All returned Standard Products must be in new and
      unused condition. For authorized cancellations of Orders for Services,
      Buyer shall pay Seller in full for all fully-burdened direct and
      indirect costs incurred for Services performed, plus a reasonable
      profit. Seller will notify Buyer of the amount owed, which shall be
      immediately due and payable. All Orders for non-standard products are
      non-cancellable and non-returnable, with Buyer liable for the full
      Order price. Blanket orders or master supply agreements confirmed by
      Seller are non-cancellable, and the Buyer shall pay the full Order
      value for any balance not previously called off or delivered. Such
      quantities shall be shipped and invoiced no later than the last
      delivery date or expiration date specified in Buyer's Order and agreed
      to by Seller.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">4. Changes or Modifications to Order</div>
    <div class="content-value">
      Buyer may request changes within the general scope of Buyer's Order by
      providing written notice to Seller; however, such changes shall not be
      effective unless Seller consents in writing. If changes cause an
      increase in cost or the time required for performance, an equitable
      adjustment shall be made to the price and/or delivery schedule, and
      the Parties shall execute a written modification reflecting such
      changes.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">5. Non-Termination Clause</div>
    <div class="content-value">
      a. This order cannot be terminated in part or whole after its
      release.<br />
      b. The Purchaser may terminate the order, in part or whole, by paying
      reasonable charges based on expenses already incurred, including
      Seller's commitments, termination charges, and a reasonable profit.<br />
      c. Seller assumes no responsibility for the cost of re-procurement by
      Purchaser.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">6. Payment Terms</div>
    <div class="content-value">
      a. Part shipment is allowed, with pro-rata payments to be released for
      items delivered early.<br />
      b. If shipment is delayed at the request of the Purchaser, the
      completion date shall be considered the date when the goods are
      reported ready for shipment, and payments shall be made
      accordingly.<br />
      c. The equipment shall be held at the Purchaser's risk, and the
      Purchaser agrees to pay for storage and handling charges.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">7. Bank Charges</div>
    <div class="content-value">
      All statutory bank charges levied by the buyer's bankers will be borne
      by the buyer, and all bank charges levied by Seller (NKRF) bankers
      will be borne by Seller (NKRF).
    </div>
  </div>

  <div class="section">
    <div class="section-heading">
      8. GST on Sale of Goods or Services Rendered
    </div>
    <div class="content-value">
      a. GST rates will be applied extra as applicable/announced/amended as
      per Govt. of India notifications, currently at 18%.<br />
      b. On provision of a GST Concession Certificate, GST will be applied
      as per the concession.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">9. Delivery Conditions</div>
    <div class="content-value">
      a. Suppliers reserve the right to request delivery date extensions if
      deliveries are delayed.<br />
      b. Part shipment is allowed, with pro-rata payments for items
      delivered early.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">10. Insurance of Goods</div>
    <div class="content-value">
      Risk or loss of, or damage to, the furnished equipment—or any portion
      thereof—from any cause shall pass to the Purchaser upon delivery of
      the equipment (or any portion thereof) to the Purchaser-appointed
      authorized freight forwarder at the Ex-Works point of shipment. Seller
      shall not be responsible for any loss or damage, including that
      incurred in transit.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">11. Limitation of Liability</div>
    <div class="content-value">
      NKRF and its suppliers shall not be liable for any special, indirect,
      incidental, or consequential damages. Liability is limited to repair
      or replacement at NKRF's discretion, with the total liability capped
      at the full order value.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">12. Delivery Schedule and Force Majeure</div>
    <div class="content-value">
      All dates for delivery of Goods and provision of Services are
      approximate estimates and depend on the prompt receipt of all
      necessary Buyer-furnished details, instructions (including labelling),
      materials, and equipment. Seller shall not be liable for non-adherence
      to these dates if any delay or failure is due to circumstances beyond
      its reasonable control, including but not limited to acts of God,
      governmental actions, inability to obtain required licenses,
      terrorism, fires, floods, windstorms, explosions, riots, natural
      disasters, wars, sabotage, supplier delays, labour problems (lockouts,
      strikes, slowdowns), inability to obtain power, utilities, materials,
      labour, equipment, transportation issues, or court injunctions.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">13. Additional Warranty Terms</div>
    <div class="content-value">
  Our standard warranty is for 12 months from the date of Delivery,
  covering repair or replacement at NKRF's discretion under standard
  operating conditions. Additional Warranty can be purchased at
  {{ data.warrantyRateText }} per annum prior to the expiry of the Manufacturer's Warranty.
</div>
  </div>

  <div class="section">
    <div class="section-heading">14. Confidentiality</div>
    <div class="content-value">
      Buyer shall keep confidential and not disclose any of Seller's
      Confidential Information without Seller's prior written consent.
      Confidential Information includes business, financial, statistical,
      commercial, pricing, technical data, formulae, analyses, trade
      secrets, ideas, methods, processes, know-how, computer programs,
      designs, data sheets, schematics, configurations, and drawings, except
      when such information becomes public, is obtained from a source not
      bound by confidentiality, or is independently developed by Buyer.
    </div>
  </div>

  <div class="section">
    <div class="section-heading">15. Ethics and Values</div>
    <div class="content-value">
      Seller is committed to uncompromising ethical standards, strict
      adherence to laws and regulations, and customer satisfaction. Buyer is
      encouraged to communicate any concerns regarding Seller's ethics and
      values via email at meeanl@nkegroup.com.
    </div>
  </div>
</div>
</body>
</html>