<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ message }}</h1>
  </body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        * {
            font-family: "Saira", "Noto Sans", "DejaVu Sans", sans-serif;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <div style="padding: 0px 60px 5px 60px; width: 100%;">
        <div style="display: flex; flex-direction: column; gap: 10px; border-top: 1px solid #00000080; padding-top: 15px;">
            <div style="display: flex; flex-direction: column;">
                <span style="font-weight: bold; margin-bottom: 2px;">
                    N.K.RF Products & Services Private Limited
                </span>
                <span>
                    #2, 2nd Cross, Rustam Bagh Layout, Old Airport Road, Bangalore-560017
                </span>
                <div style="display: flex; justify-content: space-between;">
                    <span>
                        <b>Phone</b>: +91-80-25281840 | <b>Email</b>: reachus@nkegroup.com
                    </span>
                    <div style="display: flex;">
                        <span class="pageNumber"></span>/<span class="totalPages"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
